body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('images/6bb10891790863f901a44a1a17f08aa6.jpg'); 
    background-size: cover;     
    display: flex;
    justify-content: center;        
    align-items: center;  
}

.intro h1{
    font-size: 40px;
    text-align: center;
}
.intro p{
    font-size: 20px;
    text-align: center;
}
.cards{
    display: flex;
    flex-direction: column;  
    align-items: center;
    gap: 15px;
}

.card {
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 250px;
    padding: 20px;
    transition: transform 0.3s;
    border: none; 
    cursor: pointer;
    height: 150px;

    transition: all 0.3s ease;
}
.card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}
.card:active {
  transform: translateY(2px) scale(0.98);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


@media (max-width: 800px) {
   .intro h1{
    margin-top: 80px;
   }
}